button {
  background-color: chocolate;
  border-radius: 5px;
  border: 1px solid salmon;
  color: white;
  cursor: pointer;
  padding: 5px 15px;
  text-decoration: none;
}

button:not(button:first-of-type) {
  margin-left: 20px;
}

button:active {
  background-color: salmon;
  border-color: chocolate;
}
